@page "/books"

@inject IBookRepository Repo

<h3>Список книг</h3>

<hr />

<a href="/books/create/" class="btn btn-primary p-2 m-2">
    <span class="oi oi-pencil"></span>
    Добавить книгу
</a>

<SearchComponent OnSearch="HandleSearch" />

<br />

@if (books == null)
{
    <LoadingPrompt Message="Загрузка списка с книгами" />
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Год</th>
                <th scope="col">Цена</th>
                <th scope="col">ISBN</th>
                <th scope="col">Автора</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            @if (books.Count > 0 && books != null)
            {
                @foreach (var book in books)
                {
                    <BookListBaseComponent book="book" />
                }
            }
            else
            {
                <tr>
                    <td colspan="3">Не можем найти книгу</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<Book> books;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        books = await Repo.GetAll(Endpoints.BooksEndpoint);
    }

    private async Task HandleSearch(string search)
    {
        books = await Repo.GetBySearch(Endpoints.BooksEndpoint, search);
    }
}