@page "/authors"

@inject IAuthorRepository Repo

<h3>Список авторов</h3>

<hr />

<a href="/authors/create/" class="btn btn-primary p-2 m-2">
    <span class="oi oi-pencil"></span>
    Добавить автора
</a>

<SearchComponent OnSearch="HandleSearch" />

<br/>

@if (authors == null)
{
    <LoadingPrompt Message="Загрузка списка..." />
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            @if (authors.Count() > 0 && authors != null)
            {
            <Microsoft.AspNetCore.Components.Web.Virtualization.Virtualize Items="authors" Context="author">
                <AuthorListBaseComponent author="author" />
            </Microsoft.AspNetCore.Components.Web.Virtualization.Virtualize>
            }
            else
            {
                <tr>
                    <td colspan="3">Не удаётся найти авторов</td>
                </tr>
            }

        </tbody>
    </table>
}

@code {
    private IList<Author> authors;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        authors = await Repo.GetAll(Endpoints.AuthorsEndpoint);
        StateHasChanged();
    }

    private async Task HandleSearch(string search)
    {
        authors = await Repo.GetBySearch(Endpoints.AuthorsEndpoint, search);
    }
}
